@using ContactManager.Models
@model IEnumerable<Contact>

@{
    ViewBag.Title = "Contacts";
}

@section Scripts{
    @Scripts.Render("/Javascripts/SearchNearest.js")
}

<h2>All Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "AllContacts", FormMethod.Get, new {@id = "contactsForm"} ))
{
    <p>
        Find by first name      : @Html.TextBox("firstName", new { @id = "firstName" } ) <br />
        Find by last name       : @Html.TextBox("lastName", new { @id = "lastName" }) <br />
        Find by email address   : @Html.TextBox("emailAddress", new { @id = "emailAddress" }) <br />
        @Html.CheckBox("nearest") Find the nearest contact<br />
        <input type="submit" value="Search" id="searchBtn" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => Model.First<Contact>().LastName)
        </th>
        <th>
            @Html.LabelFor(model => Model.First<Contact>().FirstName)
        </th>
        <th>
            @Html.LabelFor(model => Model.First<Contact>().Address)
        </th>
        <th>
            @Html.LabelFor(model => Model.First<Contact>().EmailAddress)
        </th>
        <th>
            @Html.LabelFor(model => Model.First<Contact>().PhoneNumber)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>


